apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shortly-url-shortner
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    name: shortly-url-shortner
spec:
  project: default
  source:
    repoURL: https://gitlab.com/Mohamed_Atef_Abdo/shortly-url-shortner.git
    targetRevision: HEAD
    path: DevOps/k8s/shorly

    helm:
      releaseName: shortly
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  revisionHistoryLimit: 10
